
ul,li{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.datepicker input{
    display: inline-block;
    width: auto;
}
li.items{
    display: inline-block;
    position: relative;
    list-style: none;
}
li .filterpanel{
    position: absolute;
    background: #fff;
    text-align: left;
    border-radius: 8px;
    top:36px;
    border:1px solid #c6c6c6;
    overflow: hidden;
}
.fiterpanel .filterlist{
    padding: 0;
}
.filterpanel .submit{
    display: block;
    text-decoration: none;
}
li .filterpanel span{
    display: block;
    width: 180px;
}
.borders{
    display: inline-block;
}
.header{
    height: 77px;
}
.header .div_logo{
    float: left;
}
.logo{
    margin-left: 15px;
    display: block;
    width: 120px;
    height: 60px;
    background: url(images/logo.png);
}
.content .left-content{
    float: left;
    width: 200px;
    position: relative;
    margin-left: 10px;
}
.content .right-content{
    min-width:1024px;
    margin-left: 220px;
    margin-right: 10px;
}
table tr th,td{
    text-align: center;
    vertical-align:center;
}
#nav-list .current{
    color: #5cb85c!important;
}
.summarydata{
    width:100%;
}
.summarydata .menu{
    color:#555;
    font-size: 0.8rem;
    margin-top:10px;
    font-family: 'microsoft yahei'
}
.summarydata .num{
    font-size: 1.2rem;
    color: #01a7ad;
}
.left-list{
    width:100%;
}

.left-list li{
    text-align: center;
    width:100px;
    display: inline-block;
}
.left-list .menu{
    color:#555;
    font-size: 0.8rem;
    margin-top:10px;
    font-family: 'microsoft yahei'
}
.left-list .num{
    font-size: 1.2rem;
    color: #01a7ad;
}
.i_orderd{
    border-top: 4px solid #000;
    border-right: 4px dashed transparent;
    border-left: 4px dashed transparent;
}
.i_orderu {
    border-bottom: 4px solid #000;
    border-right: 4px dashed transparent;
    border-left: 4px dashed transparent;
}
.i_orderu, .i_orderd, .i_orderl, .i_orderr, .i_caret_no {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 3px;
    overflow: hidden;
    width: 0px;
    font-size: 0px;
    height: 0px;
    line-height: 0;
}
/* #time_h td{
   cursor: pointer;
 }
 #time_h td:hover{
   background: #ccc;
 }
 td.usd-vnd:hover{
   background: #ccc;
 }
 td.usd-vnd{
   cursor: pointer;
 }
 td#usd-vnd:hover{
   background: #ccc;
 }
 td#usd-vnd{
   cursor: pointer;
 }
 #t_detail{
   display: none;
   position: absolute;
   left: 30%;
   top:30%;
   width: 50%;
   height: 500px;
   background: #ccc;
 }*/
.channel_detail_h tr td,#role_order_detail thead tr td{
    background: #60bb5d;
}
#refresh_tran{
    background-image: url(../images/refresh.png);
    width: 20px;
    height: 17px;
    display: inline-block;
    margin-right: 8px;
}
.option{
    text-align: right;
    line-height: 43px;
}
.date-downlist {
    width: 230px;
    height: 28px;
    margin: 6px 10px 0px 0px;
    position: relative;
    display: inline-block;
    text-align: left;
    line-height: 28px;
    background-color: #FDFDFD;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #EAEAEA inset;
}

.date-downlist .dateselect {
    display: block;
    text-align: left;
    cursor: pointer;
    padding-left: 22px;
}
.date-downlist .date-downlist-list {
    width: 100%;
    display: none;
    position: absolute;
    top: 36px;
    left: -1px;
    background: none repeat scroll 0% 0% #FDFDFD;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    text-align: left;
    z-index: 310;
}
.date-downlist .pulldown {
    position: absolute;
    right: 10px;
    top: 3px;
}
.icon {
    background: url("images/icon.png") no-repeat scroll 0px 0px transparent;
    display: inline-block;
    height: 24px;
    overflow: hidden;
    vertical-align: middle;
    width: 24px;
    line-height: 24px;
    text-indent: -9999px;
}
.pulldown {
    background: url("images/icon.png") no-repeat scroll 0px -577px transparent;
}

.list2{
    display: none;
    text-align: right;
}
.nav-list .on{
    display: block;
}
.list2 .current{
    /* color: #f00;*/
    background-color: #d5d5d5;
}
.globalNav{
    height: 42px;
    background: #428bca;
    margin-bottom: 10px;
}
.leftCol{
    padding-left:12px;
    padding-top: 6px;
    position: relative;
}
.js-select{
    border-radius: 5px;
    height: 30px;
    background: #e5e5e5;
    margin-top:0px;
}
.js-select .select-head{
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    padding:0px 10px 0px 9px;
    text-align: right;
    vertical-align:text-top;
}
.app-select{
    width: 155px;
    position: absolute;
    margin-left: 132px;
}
.os-select{
    width: 198px;
    position: absolute;
    margin-left: 297px;
    line-height: 30px;
    height: 30px;
}
.state-select{
    width: 123px;
    position: absolute;
}
.date-select {
    width: 222px;
}
.selected{
    max-width: 166px;
    float: left;
}
#app_selected.selected img{
    position: relative;
    top: 3px;
    float: left;
    margin-right: 15px;
}
#state_selected.selected img{
    position: relative;
    top: 8px;
    float: left;
    margin-right: 15px;
}
.app-select-list{
    width: 155px!important;
    left: 142px;
}
.state-select-list{
    width: 123px!important;
}
.select-list{
    position: absolute;
    width: 100%;
    border: 1px solid #CCC;
    background-color: #FFF;
    max-height: 300px;
    min-height: 24px;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y:auto;
    z-index: 10;

    top: 36px;
}
.select-list li {
    line-height: 30px;
    padding: 0px 7px;
    cursor: pointer;
    overflow: hidden;
}

.date-select-list li{
    text-align: center;
}
.date-select-list li input{
    width: 98px;
    border: 1px solid #428BCA;
}
.state-select-list img{
    position: relative;
    top: 8px;
    float: left;
}
.app-select-list img{
    position: relative;
    top: 3px;
    float: left;
}
.select-list li:hover{
    background: #ccc;
}
.option .date-def{
}
.option .date-def input[type="text"]{
    width: 82px;
    height: 20px;
}
.option .date-def input[type="button"]{
    width: 40px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.option .date-def input.btn-confirm{
    background-color: #5cb85c;
}
.contentCol {
    margin-left: 228px;
    text-align: center;
    overflow: visible;
    padding-bottom: 0px;

}
.globalNav .linkpanel {
    /*position: absolute;
    right: 47px;*/

}
.linkpanel .rate_idr{
    text-align: right;
    padding-right: 47px;
    line-height: 30px;
    color: #fff;
    position: relative;
}
.linkpanel .rate_idr .roll{
    position: absolute;
    right: 4%;
    width: 200px;
}

.topNav {
    height: 60px;
}
.navItem {
    display: inline-block;
    margin-right: 60px;
    vertical-align: middle;
    overflow: hidden;
}
div.currentItem .icons4 {
    margin: 0px auto;
    background: url("images/icon.png") no-repeat scroll -24px -1080px transparent;
}
.navItem .icons4 {
    margin: 0px auto;
    background: url("images/icon.png") no-repeat scroll 0px -1080px transparent;
}
.navItem span {
    line-height: 16px;
    font-size: 16px;
    color: #333;
    display: block;
}
.navItem .bot {
    margin-top: 4px;
    height: 5px;
}
.currentItem .bot {
    background: none repeat scroll 0% 0% #01A7AD;
}
.manu{padding:3px;margin:3px;text-align:center;display: none}
.manu a{border:#eee 1px solid;padding:2px 5px;margin:2px;color:#036cb4;text-decoration:none;cursor: pointer;}
.manu a:hover{border:#999 1px solid;color:#666;}
.manu a:active{border:#999 1px solid;color:#666;}
.manu .current{border:#036cb4 1px solid;padding:2px 5px;font-weight:bold;margin:2px;color:#fff;background-color:#036cb4;}
.manu .disabled{border:#eee 1px solid;padding:2px 5px;margin:2px;color:#ddd;}




/*通用样式*/
* {
    margin: 0px;
    padding: 0px;
    outline: 0px none;
}

.none-show{
    display: none;
}
.content{
    /*margin: 0 auto;
    max-width: 1841px;
    min-width: 1238px;*/
}
table{
    border-collapse: collapse;
    border-spacing: 0px;
}
body {
    font-family: Arial,"Microsoft Yahei";
    font-size: 80%;
    line-height: 1.42857;
    color: #333;
    min-width: 1254px;
}
.prompt-tip{
    padding-left: 29px;
    height: 39px;
    line-height: 39px;
    background-color: #aaa;

}
.navbar{
    background-color:#f8f8f8;
    border-bottom:solid 1px #e7e7e7;
    margin-bottom: 10px;
    position: relative;
    height: 60px;
}
.navbar .navbar-header{
    position: absolute;
}
.navbar .navbar-right{
    margin-top: 15px;
    position: absolute;
    right: 30px;
}

.list1-item{
    cursor: pointer;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 1px;
    z-index: 2;
    color: #FFF;
    background-color: #428BCA;
    border-color: #428BCA;
}
.list1-item:hover{
    background-color: #49a1e8;
}
.list2-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 1px;
    background-color: #FFF;
}
.list2-item:hover{
    background-color: #eaeaea;
}

.mod{
    margin-bottom: 15px;
    position: relative;
    border:1px solid #428BCA;
    /*max-width: 1628px;*/
}
.mod .mod-header{
    height: 41px;
    line-height: 41px;
    padding: 0px 23px;
    background-color: #428BCA;
    color: #fff;
    position: relative;
}
.mod .mod-body{
    position: relative;
    padding-bottom: 1px;
    height: 100%;
}
.mod h4{
    /*position: absolute;*/
    display: inline-block;
}
.mod .mod-header .option{
    position: absolute;
    right: 20px;
    top:5px;
    color:#000;
}
.rate{
    font-size: 0.6rem;
    text-align: center;
    margin-bottom: 10px;
}
.rate .asc{
    color:#f00;
}
.rate .desc{
    color:#008f44;
}
.rate .i_arr{
    background:url(../images/i_arr.png);
    width: 9px;
    display: inline-block;
    height: 11px;
    line-height: 11px;
    font-size: 0px;
    margin: 0px 5px 5px 5px;
    vertical-align: middle;
}
.rate .asc .i_arr{
    background-position: 0px 0px;
}
.rate .desc .i_arr{
    background-position: 0px -11px;
}
.mod .content{
    padding:15px 23px;
}
.js-tab{
    display: inline-block;
    padding: 0;
    /*float: left;*/
}
.js-tab .tab-li li{
    height: 28px;
    line-height: 28px;
    display: inline-block;
    cursor: pointer;
    font-size:13px;
    padding:0px 14px;
    background-color: #428BCA;
    color:#fff;
}
.js-tab .tab-li li:hover{
    background-color: #49a1e8;
}
.js-tab .tab-li li.on{
    background-color: #53b3f7;
}
.js-checkbox{
    display: inline-block; /*统一浏览器*/
    margin-left: 20px;
    /*float: left;*/
    margin-top: 5px;

}
.js-checkbox label{
    margin-right: 8px;
}
.js-checkbox input{
    vertical-align: middle;
}
.mod-body .detail-table{
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.detail-table thead td:first-child{
    border-left: 0px none;
}
.detail-table tbody td:first-child{
    border-left: 0px none;
}
.detail-table thead td{
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #F5F5F5;
}
.detail-table td{
    border: 1px solid #E8E8E8;
    height: 28px;

}

.select_input input{


}

.haha .user_lable{
    display: inline-block;
    width: 150px;
    height: 30px;
    font-size: 13px;
    text-align: right;
    margin-right: 20px;
    color: #005eac
}

.haha .info_text{

}
.wrap-mod{

}
.mod-define{
    height: 270px;
    width: 316px;
    border:1px solid #428BCA;
    margin: 0px 10px 10px 0px;
    float: left;
}
.mod-define .mod-header{
    height: 41px;
    line-height: 41px;
    padding: 0px 23px;
    background-color: #428BCA;
    color: #FFF;
    position: relative;
}
.mid_cont{
    width: 644px;
}
.select_input{
    padding: 20px 20px;
}
.select_input input[type='text']{
    height: 22px;
    font-size: 14px;
    font-family: arial;
    margin: 0px 5px 0px;

}
.select_input input[type='button']{
    min-width: 50px;
    height: 26px;
    color: #fff;
    background-color: #3385FF;
    border:0px none;
    border-bottom: 1px solid #2D78F4;
    cursor: pointer;
    padding:0 10px;
}
.select_input select{
    width: 100px;
    height: 24px;
    font-size: 14px;
    font-family: arial;
    margin-right: 10px;
}
.select_input input[type='button']:hover{
    background-color: #317EF3;
}
.chartpanel{
    text-align: center;
}
.loading-card {
    background: #FFF none repeat scroll 0% 0%;
    padding-top: 200px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    height: 200px;
}
a.help{
    width: 24px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url("images/common_images.png");
    background-position: 5px -1527px;
    text-indent: -9999px;
}
/*a.help:hover{
        background-position: 5px -15px;
}*/
.tips {
    display: none;
    position: absolute;
    z-index: 199;
    padding: 15px 25px 26px;
    background: #555 none repeat scroll 0% 0%;
    color: #FDFDFD;
    opacity: 0.9;
    max-width: 350px;
}

.tips .corner {
    position: absolute;
    height: 0px;
    left: -10px;
    top: 15px;
    width: 0px;
    overflow: hidden;
    font-size: 0px;
    line-height: 0;
    border-color: transparent #555 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 5px;
}
.tips p, .sdk-tips p {
    font-size: 12px;
    line-height: 24px;
}
.tips .highlight, .sdk-tips .highlight {
    color: #428BCA;
}

.detail-table .sort{
    cursor: pointer;
}
.detail-table .sort:hover{
    background-color: #78cdf8;
}

.detail-table .sortdesc{
    cursor: pointer;
}
.detail-table .sortdesc:hover{
    background-color: #78cdf8;
}
.avatar{
    width:50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.table-img{
    width:70px;
}
.footer{
    color:#777;
    text-align:center;
    clear:both;
}
.navbar .logout{
    color:#428bca;display:inline-block
}

