.header{
    background-color:#fff;
    padding:0 20px;
    line-height: 60px;
    border-bottom: 1px solid #e9e9e9;
}
.logo{
    margin: 0px 20px 0px 15px;
    display: block;
    width: 120px;
    height: 60px;
    background: url(../images/logo.png);
}

.nav-content .cascader{
    margin: 6px 26px;
}
.content{
    min-height: 650px;
}
.footer{
    border-top: 1px solid #e9e9e9;
    background-color: #fff;
    text-align: center;
}
.userinfo{
    
}
.content-header{
    padding:12px 20px;
    background-color: #fff;
}
.mod{
    background-color: #fff;
    border: 1px solid #e9e9e9;
    margin:10px;
}
.inline-mod{
    margin-bottom: 0px;
    margin-right: 0px;
}
.mod .mod-header{
    padding:14px 15px 0px;
}
.mod .mod-body{
    padding:14px 14px 0px;
}
.summary-wrap{
    text-align: center;
    padding:20px 10px;
}
.summary{
    padding:5px 0;
} 
.summary-num{
    font-size: 20px;
    color: #01a7ad;
}

.summary-rate-asc{
    color:#dc2203;
}
.summary-rate-desc{
    color:#008f44;
}
.summary-rate-asc .i-arr {
    background-position: 0px 0px;
}
.summary-rate-desc .i-arr{
    background-position: 0px -11px;
}
.i-arr{
    background: url(../images/i_arr.png);
    width: 9px;
    display: inline-block;
    height: 11px;
    line-height: 11px;
    font-size: 0px;
    margin: 0px 5px 5px 5px;
    vertical-align: middle;
}
.content-header .filters{
    margin-top: 10px;
}
.filters .filter{
    display: inline-block;
    margin-right: 20px;
}
.content-header .control-bar-wrapper{
    margin-top:15px;
}
.select-input{
    width:120px;
}

.chart{
    max-width: 1400px;
}
